@model List<Firma.Data.Data.Zamowienia.Zamowienie>
@{
    ViewData["Title"] = "Zamówienia";
}
<div class="container">
    <h1 class="display-6 text-center fs-2 mb-5 ">@ViewBag.NaglowekZamowienia</h1>
    <div class="row ">
        <div class="col-12 col-lg-6 mb-4 align-items-center">
            <img src="~/content/zamów-zdjecie.png" class="card-img-top" alt="...">
        </div>
        <div class="col-12 col-lg-6 mb-4 text-center">

            <div class="form-row">

                <table class="table">
                    <thead class="table-dark">
                        
                              <tr>
                                <th scope="col">Imie</th>
                                <th scope="col">Danie</th>
                                <th scope="col">Uwagi</th>
                                <th scope="col">Metoda Płatności</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var zamowienie in Model)
                        {
                            <tr>
                                <td>@zamowienie.Imie</td>
                                <td>@zamowienie.Danie?.Nazwa</td>
                                <td>@zamowienie.Uwagi</td>
                                <td>@zamowienie.MetodaPlatnosci?.Nazwa</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="text-center my-5">
    <h2>Łączna ilość zrealizowanych zamówień:</h2>
    <span id="licznikZamowien" class="display-4 text-warning" data-count="@ViewBag.LicznikZamowien">0</span>
</div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.7/countUp.umd.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const licznik = document.getElementById("licznikZamowien");
        const countTo = parseInt(licznik.getAttribute("data-count"));
        const counter = new countUp.CountUp("licznikZamowien", countTo);
        if (!counter.error) {
            counter.start();
        } else {
            console.error(counter.error);
        }
    });
</script>
