@model Firma.Data.Data.CMS.WiadomoscKontaktowa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WiadomoscKontaktowa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uwagi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdWiadomosciKontaktowej" class="btn btn-outline-dark">Edytuj</a> |
    <a asp-action="Index" class="btn btn-outline-danger">
        <i class="bi bi-arrow-left-circle-fill"></i> Powrót
    </a>
</div>
