@model IEnumerable<Firma.Data.Data.CMS.WiadomoscKontaktowa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        <i class="bi bi-ui-checks"></i> Utwórz nową pozycję.
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdWiadomosciKontaktowej" class="text-decoration-none text-dark">
                        <i class="bi bi-pencil-square"></i>Edit
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.IdWiadomosciKontaktowej" class="text-decoration-none text-dark">
                        <i class="bi bi-plus"></i>Details
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdWiadomosciKontaktowej" class="text-decoration-none text-dark">
                        <i class="bi bi-trash3-fill"></i>Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
